<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquivo enviado</title>
</head>

<body>
    <h1>IASD Cidade das Flores</h1>
    <h2>Arquivo enviado com sucesso</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="upload">Deseja enviar outro?</label>
        <input type="file" id="upload" name="file">
        <br />
        <input type="submit" value="Enviar">
    </form>
</body>

</html>