name: Build and Release
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            suffix: linux_amd64
          # - os: windows-latest
          #   suffix: windows_amd64.exe
          # - os: macos-latest
          #   suffix: darwin_amd64
          # - os: macos-latest
          #   suffix: darwin_arm64
          #   goarch: arm64

    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: actions/setup-go@v4
        with:
          go-version: "stable"

      - name: Setup Node.js
        uses: actions/setup-node@v4

      - name: Install Tailwind CLI
        shell: bash
        run: |
          npm install @tailwindcss/cli
          echo "${{ github.workspace }}/node_modules/.bin" >> $GITHUB_PATH

      - name: Build
        shell: bash
        run: |
          if [ "${{ matrix.goarch }}" != "" ]; then
            export GOARCH=${{ matrix.goarch }}
          fi
          go generate ./...
          go build -v -o receivefiles_${{ matrix.suffix }} .

      - name: Test
        run: go test -v ./...

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: receivefiles_${{ matrix.suffix }}
          path: receivefiles_${{ matrix.suffix }}
          retention-days: 30

  release:
    needs: Build
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'created'

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./dist

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            *
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
